                    <!-- <div class="bar"> -->
                        <h4>Каталог</h4>
                        <hr/>
                        <ul class="menu">
                            <li class="parent">
                                <a href=""><span>Печи для саун и бань</span></a>
                                <ul class="sub">
                                    <li><a href="">Дровяные печи</a></li>
                                    <li><a href="">Электрические печи</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><span>Облицовки для печей</span></a>
                            </li>
                            <li>
                                <a href=""><span>Парогенераторы для хамама</span></a>
                            </li>
                            <li>
                                <a href=""><span>Плитка для сауны и бани</span></a>
                            </li>
                            <li>
                                <a href=""><span>Гималайская соль</span></a>
                            </li>
                            <li>
                                <a href=""><span>Дымоходы</span></a>
                            </li>
                            <li class="parent>
                                <a href=""><span>Двери</span></a>
                                <ul class="sub">
                                    <li><a href="">Дровяные печи</a></li>
                                    <li><a href="">Электрические печи</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><span>Стеклянные перегородки для саун</span></a>
                            </li>
                            <li>
                                <a href=""><span>Дверцы для печей и каминов</span></a>
                            </li>
                            <li>
                                <a href=""><span>Освещение</span></a>
                            </li>
                            <li>
                                <a href=""><span>Инфракрасные сауны</span></a>
                            </li>
                            <li>
                                <a href=""><span>Купели</span></a>
                            </li>
                            <li>
                                <a href=""><span>Аксессуары для бань и саун</span></a>
                            </li>
                            <li class="active">
                                <a href=""><span>Ароматизаторы</span></a>
                            </li>
                            <li>
                                <a href=""><span>Оборудование для СПА</span></a>
                            </li>
                            <li>
                                <a href=""><span>Оборудование и материалы для хамама</span></a>
                            </li>
                        </ul>
                        <h4>Строительство</h4>
                        <hr/>
                        <ul class="menu">
                            <li>
                                <a href=""><span>Бани</span></a>
                            </li>
                            <li>
                                <a href=""><span>Сауны</span></a>
                            </li>
                            <li>
                                <a href=""><span>Галерея работ</span></a>
                            </li>
                            <li>
                                <a href=""><span>Конструктор</span></a>
                            </li>
                        </ul>
                        <div class="banner"></div>
                        <div class="banner"></div>

                        <a href="#top" class="smooth-scroll">
                            <span class="icon">
                                <i class="fa fa-angle-up"></i>
                            </span>                            
                            <span>Наверх</span>
                        </a>

                    <!-- </div> -->