        <!-- <div class="footer_nav"> -->
            <div class="container">
                <div class="nav row">
                    <div class="nav_group">
                        <h5 class="nav_group_label">Информация</h5>
                        <ul class="nav_group_list">
                            <li><a href=""><span>Гарантия</span></a></li>
                            <li><a href=""><span>Возврат и обмен</span></a></li>
                            <li><a href=""><span>Поставщикам</span></a></li>
                            <li><a href=""><span>Статьи</span></a></li>
                        </ul>
                    </div>
                    <div class="nav_group">
                        <h5 class="nav_group_label">Поддержка</h5>
                        <ul class="nav_group_list">
                            <li><a href=""><span>Как купить</span></a></li>
                            <li><a href=""><span>Связаться с нами</span></a></li>
                            <li><a href=""><span>Обратный звонок</span></a></li>
                            <li><a href=""><span>Карта сайта</span></a></li>
                        </ul>
                    </div>
                    <div class="nav_group">
                        <h5 class="nav_group_label">Услуги</h5>
                        <ul class="nav_group_list">
                            <li><a href=""><span>Строительство саун</span></a></li>
                            <li><a href=""><span>Строительство хамама</span></a></li>
                            <li><a href=""><span>Отделка саун и бань</span></a></li>
                        </ul>
                    </div>
                    <div class="nav_group">
                        <h5 class="nav_group_label">Контакты</h5>
                        <div class="table phones">
                            <div class="tableCell phone hidden-xs-down">
                                <div class="table">
                                    <div class="tableCell">
                                        <img src="lib/img/icon-phone.png" class="icon" width="32" height="32" alt="">
                                    </div>
                                    <div class="tableCell text-nowrap">
                                        <a href="tel:+74952150546" class="number">+7 (495) 215-05-46</a>
                                        <a href=""><span>Позвоните мне</span></a>
                                    </div>                        
                                </div> 
                            </div>
                            <div class="tableCell phone text-nowrap paddingLeft hidden-lg-down">
                                <a href="tel:+79055287202" class="number">+7 (905) 528-72-02</a>
                                <span>Строительный отдел</span> 
                            </div>
                        </div>

                    </div>
                    <div class="nav_group">
                        <h5 class="nav_group_label">Мы в социальных сетях</h5>
                        <ul class="nav_group_list social-links">
                            <li><a href=""><img src="lib/img/icon-facebook.png" alt=""></a></li>
                            <li><a href=""><img src="lib/img/icon-vk.png" alt=""></a></li>
                            <li><a href=""><img src="lib/img/icon-instagram.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- </div> -->