        <!-- <div class="footer_copyright"> -->
            <div class="container">
                <div class="row copyright">
                    <div class="col-xs-12">
                        <strong><small>© 2016 idealsauna.ru — Строительство и отделка саун и бань, интернет-магазин по продажи оборудования и товаров для саун и бань.</small></strong>
                    </div>
                </div>
                <div class="row a5a5a5">
                    <div class="col-md-6">
                        <small>Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. </small> 
                    </div>
                    <div class="col-md-6">
                        <small>Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам с помощью специальной формы связи или по телефону.</small>
                    </div>
                </div>
            </div>
        <!-- </div> -->