        <!-- <div class="header"> -->
            <div class="container">
                <div class="table widthFull mobileCenter">
                    <div class="tableCell text-center mobileLogo">
                        <a href="#">
                            <img src="lib/img/logo.png" class="logo" width="155" height="60" alt="IdealSauna" />
                        </a>
                    </div>
                    <div class="tableCell phone mainPhone">
                        <div class="table">
                            <div class="tableCell">
                                <img src="lib/img/icon-phone.png" class="icon" width="32" height="32" alt="+7 (495) 215-05-46" />
                            </div>
                            <div class="tableCell text-nowrap">
                                <a href="tel:+74952150546" class="number">+7 (495) 215-05-46</a>
                                <a href=""><span>Перезвоните мне</span></a>
                            </div>                        
                        </div> 
                    </div>
                    <div class="tableCell phone text-nowrap buildPhone">
                        <a href="tel:+79055287202" class="number">+7 (905) 528-72-02</a>
                        <span>Строительный отдел</span> 
                    </div>
                    <div class="tableCell shortMrnu">
                        <ul class="nav text-uppercase text-nowrap">
                            <li>
                                <a href=""><span>Доставка и оплата</span></a>
                            </li>
                            <li class="selected">
                                <a href=""><span>Акции</span></a>
                            </li>
                            <li>
                                <a href=""><span>Партнёрам</span></a>
                            </li>
                            <li>
                                <a href=""><span>Контакты</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="tableCell user">
                        <div class="user table">
                            <div class="tableCell">
                                <img src="lib/img/icon-user-default.png" class="avatar" width="32" height="32" alt="">
                            </div>
                            <div class="tableCell text-nowrap hidden-sm-down">
                                <a href="#">
                                    <span class="title">Личный кабинет</span>
                                </a>
                                <a href="#">
                                    <small>Выйти</small>
                                </a>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->