        <!-- <div class="topBar"> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group search">
                            <input type="text" class="form-control" placeholder="Найти в каталоге">
                            <span class="input-group-btn">
                                <button class="btn btn-white" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>       
                            </span>
                        </div>                        
                    </div>
                    <div style="float: left;margin-right: 10px;">
                        <div class="input-group">
                            <ul class="nav text-nowrap input-group-addon">
                                <li class="parent">
                                    <a href="" class="text-uppercase">
                                        <img src="lib/img/icon-menu.png" width="32" height="32" alt="">
                                        <span class="hidden-xs-down">Каталог</span>
                                    </a>
                                    <ul class="sub level_2">
                                        <li><a href="">Печи для саун и бань</a></li>
                                        <li><a href="">Облицовки для печей</a></li>
                                        <li class="parent"><a href="">Парогенераторы для хамама</a>
                                            <ul class="sub level_3 triangle-border left">
                                                <li><a href="">Печи для саун и бань</a></li>
                                                <li><a href="">Облицовки для печей</a></li>
                                                <li><a href="">Парогенераторы для хамама</a></li>
                                                <li><a href="">Плитка для сауны и бани</a></li>
                                                <li><a href="">Гималайская соль</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Плитка для сауны и бани</a></li>
                                        <li><a href="">Гималайская соль</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="text-uppercase">
                                        <img src="lib/img/icon-builds.png" width="32" height="32" alt="">
                                        <span class="hidden-xs-down">строительство</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="lib/img/icon-compare.png" width="32" height="32" alt="">
                                        <span class="hidden-md-down">Сравнение</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="lib/img/icon-favorite.png" width="32" height="32" alt="">
                                        <span class="hidden-md-down">Закладки</span>
                                    </a>
                                </li>
                            </ul>                       
                        </div>                     
                    </div>
                    <div style="float: right;">
                        <ul class="shopping_basket nav text-nowrap">
                            <li>
                                <img src="lib/img/icon-shopping_basket.png" width="32" height="32" alt="">
                                <span class="hidden-lg-down">Корзина - 2</span>
                            </li>
                        </ul>                     
                    </div>
                </div>
            </div>
        <!-- </div> -->